body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: #333;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
      border: 0;
      width: 100%;
      object-fit: cover;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
}


header .judul {
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding: 30px 0;
    background-color: aquamarine;
}

.info {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.3em;
}

.info-siswa {
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding: 10px 0;
    line-height: 1;
    background-color: #f4f4f4;
}

.judul_2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
}



.about {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#333;
    margin-top: 20px;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 1.2;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.judul_3 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
}

.motto {
    text-align: center;
    color: #555;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.3em;
    line-height: 2;
}


.judul_4 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
}

.deskripsi {
    text-align: center;
    color:#333;
    margin-top: 20px;
    line-height: 1;
    font-size: 1.3em;
}

.siswa {
    text-align: center;
    color: #555;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.3em;
    line-height: 1.2;
}

a {
    text-decoration: none;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    margin-top: 20px; 
    gap: 10px; 
}

.container > a {
    color: blue;
    text-decoration: none;
}

.container > a:hover {
    text-decoration: underline;
}



.hak {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1em;

}


.judul_6 {
    text-align: center;
    color:#333;
    margin-top: 20px;
    font-size: 1.5em;
}






.form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    background-color: #f4f4f4;
    margin-top: 20px;
    padding: 10px 0;
    color: #333;

}



.opsi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    gap: 10px;
}

.tombol {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: aquamarine;
        color: #333;
        border: #333;
        border-radius: 5px;
        cursor: pointer;
    
}

.tombol:hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

.judul_8 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.1em;
}

.easteregg {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.2em;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px 0;
    gap: 10px;
}

.solve {
    display: flex;
    align-items: center;
    justify-content: center;
}

 #tom2, #tom3, #tom4, #tom5, #tom6, #tom7 {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: aquamarine;
        color: #333;
        border: #333;
        border-radius: 5px;
        cursor: pointer;
}

 #tom2:hover, #tom3:hover, #tom4:hover, #tom5:hover, #tom6:hover, #tom7:hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

.code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    gap: 10px;
}

#tom1  {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    color: #333;
    border: #333;
    border-radius: 5px;
    cursor: pointer;
}

#tom1:hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .opsi {
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(100px, 1fr));
    }

}

