body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

.banner {
    border: 0;
    width: 100%;
    object-fit: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.judul {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: aquamarine;
    color: #333;
    font-size: 1.5em;
}


.list1 {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.2em;
    line-height: 1.2;
}

.list2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 1em;
    line-height: 1.2;
}

.kata {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 1em;
    background-color: #f4f4f4;
    padding: 10px 0;
    line-height: 1em;
}

.hak {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1em;

}

.kembali {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    gap: 20px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .judul {
        font-size: 1.8em;
    }


    .list1, .list2, .hak, .kembali, .kata {
        font-size: 1em;
        padding: 10px;
    }


}