body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background-color: white;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: center;
    color: #333;
    background-color: aquamarine;
    margin-top: 20px;
    padding: 10px 0;
}

.container {
    text-align: center;
    position: relative;
    height: 100vh;
}

#prank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.container2 {
    text-align: center;
    position: relative;
    height: 100vh;
}

#yusuf {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    gap: 20px;
}

.container3 {
    position: relative;
    text-align: center;
    height: 100vh;
}

#panji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.container4 {
    position: relative;
    text-align: center;
    height: 100vh;
}

.container5 {
    position: relative;
    text-align: center;
    height: 100vh;
}

.container6 {
    position: relative;
    text-align: center;
    height: 100vh;
}

#ashy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

#turu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

#salto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tom1, #tom2, #tom3 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    color: #333;
    border: #333;
    border-radius: 5px;
    cursor: pointer;
}

#tom1:hover, #tom2:hover, #tom3:hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#gambar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.image {
    position: relative;
    text-align: center;
    height: 100vh;
}
