body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
}

header {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: aquamarine;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#tom1, #tom2, #tom3 {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: aquamarine;
        color: #333;
        border: #333;
        border-radius: 5px;
        cursor: pointer;
    }

#tom1:hover, #tom2:hover, #tom3:hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: #000000;
    border: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    text-align: center;
    position: relative;
    height: 100vh;
}

.photo {
    text-align: center;
    position: relative;
    height: 100vh;
}

#photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

#photo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 640px;
    max-height: 360px;
}

#senam, #lomba {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 300px;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
    gap: 20px;
}

